{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container d-flex justify-content-center align-items-center flex-grow-1">
        <form class="login-form p-5 shadow-lg" action="/register" method="post">
            <h1 class="mb-4 d-flex justify-content-center">Register</h1>

            <div class="mb-3 text-start">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="name" placeholder="steveharrington" autofocus required>
            </div>
            
            <div class="mb-3 text-start">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@email.com" required>
                <div id="emailHelp" class="form-text text-white-50">We'll never share your email with anyone else.</div>
            </div>
            
            <div class="mb-4 text-start">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
            </div>

            <div class="mb-4 text-start">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password" name="confirm-password" class="form-control" id="confirm-password" placeholder="Confirm your password" required>
            </div>

            <div class="m-4 d-flex justify-content-center">
                <a href="/login" style="color: violet">Already have an account? Sign in</a>
            </div>
            
            <div class="d-grid d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}