{% extends "layout.html" %}

{% block title %}
    Family Details
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 m-5">
                <h2 class="text-dark text-center mb-4">{{ family.name }}</h2>
                
                <h3 class="text-dark mb-3">Family Members</h3>
                <ul class="list-group">
                    {% for member in members %}
                    <li class="list-group-item bg-dark text-white">{{ member.username }}
                        {% if member.id == admin_id %}<span class="badge bg-warning text-dark ms-2">Admin</span>{% endif%}</li>
                    
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}