{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="text-dark text-center m-4">Family Shopping Lists</h1>
        <div class="row">
            {% for list in lists %}
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">{{ list.title }}</h5>
                        <p class="created card-text"><small>Created on {{ list.created_at.strftime('%m/%d/%Y') }}</small></p>
                        <a href="/list/{{ list.id }}" class="btn btn-primary">View List</a>
                        <form method="post" action="/list/{{ list.id }}/delete" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this list?')">
                            <button type="submit" class="btn btn-danger ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if not lists %}
        <p class="text-dark text-center">No lists yet. <a href="/create-list" style="color: rgb(247, 168, 0)">Create one!</a></p>
        {% endif %}
    </div>
{% endblock %}